<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{contentCss}}
</head>
<body>
        {{navbar}}
        <div class="banner">{{emoji}}</div>
        <h1 id="title">{{title}}</h1>
        <h2 id="datetime">
            {{datetime}}
            {{busuanzi}}
        </h2>
        <br><br>
        <div id="content">
            {{content}}
        </div>
        {{footer}}
</body>
</html>